﻿
*{margin:0; 
padding:0;
font-family:Arial}

#top{
margin:0 auto;
width:1068px;
height:130px;
position:relative;
}

#number{
position:absolute;
top:40px;
left:370px;
}

#menu{
width:100%;
height:45px;
}

#menu #m1{
list-style-type:none;
width:1280px;
margin:0 auto;
}

#menu li a:hover{
color:#ec008b;
}

#menu2 li,#menu li{position:relative;
cursor:pointer;
list-style-type:none;}

#menu2 li a,#menu li a { 
height:25px;
padding-top:15px;
padding-left:45px;
text-decoration:none;
color:black;
float:left;}

/*#menu2 li a:hover,#menu li a:hover{
display:block;
}

#menu li #m2{
position:absolute; 
display: none;
top:30px;
left:302px;
height:30px;
}

#menu li #m2 li a{
border-top: 1px solid white;
border-left:none;
}

#menu li:hover #m2
{display:block;
}*/

#split_menu{
position:relative;
top:5px;
width:100%; 
height:16px;
}
	
#main{
background:url(image/main.png) repeat-y;
width:1068px;
min-height:700px;
margin:0 auto;
}

#content{
width:980px;
margin:0px auto;
	padding-top:30px;
}

footer{
background:url(image/bottom1.jpg) repeat-x #dcdcdc top;
width:100%;
border-bottom: solid 1px #ed008c;
 margin-bottom: 9px;
}

footer  .box1  {
	display: table;
	margin:0px auto;
	padding:15px 0px;
	}

footer .box1 article {
	padding-left: 25px;
	width: 150px;
	padding-bottom: 10px;
	border-left: dotted 1px gray;
	background-repeat: repeat-y;
	text-align: left;
	display: table-cell;
	float: none;
	font-size: 12px;
}
footer .box1 h2 {
	margin-top: 0;
	margin-bottom: .7em;
	padding: 0;
	border-style: none;
	font-family: "DejaVu Serif","Georgia",serif;
	color: gray;
	font-style: italic;
	font-size: 1.1em;
	}
footer .box1 ul a{
text-decoration:none;
	color:#ED008C;}
	
footer .box1 article:first-child {
	border-left: none;
	padding-left: 0px;
}

footer .box1 ul li{
cursor:pointer;
list-style-type:none;}

footer .bottom {
	width: 100%;
	margin: 0px auto;
	padding: 10px 0px;
	border-top: dotted 1px gray;
	clear: both;
	text-align: center;
}

footer .bottom ul li {
	list-style: none;
	margin: 0;
	display: inline-block;
	padding-right: 15px;
}
footer .bottom span {
	display: inline-block;
	padding-right: 3px;
}
footer .bottom ul a{
	text-decoration:none;
	color:gray;
	}
	
footer .vk{
	vertical-align: middle;
	background: no-repeat url(image/www-sharing-vflage1Vf2.png) 0 -36px;
	background-size: auto;
	border-radius: 3px;
	width: 16px;
	height: 16px;
	margin: -1px;
	}
	
	footer .facebook{
	vertical-align: middle;
	background: no-repeat url(image/www-sharing-vflage1Vf2.png) 0 -144px;
	background-size: auto;
	border-radius: 3px;
	width: 16px;
	height: 16px;
	margin: -1px;
	}
	footer .ok{
	vertical-align: middle;
	background: no-repeat url(image/www-sharing-vflage1Vf2.png) 0 -400px;
	background-size: auto;
	border-radius: 3px;
	width: 16px;
	height: 16px;
	margin: -1px;
	}


#note1, #note2, #view_catalog{
	margin:0px auto;
	width: 965px;
}
#note1 #img{
width:470px;
padding:5px;
}
#note2 #img{
margin:4px auto;
}

#view_catalog {
margin:0px auto;
	width: 720px;
}
#view_catalog #img{
width:200px;
padding:10px;
}
#view_catalog td a:hover{
color:#ec008b;
}

#view_catalog a{
cursor:pointer;
text-decoration:none;
color:black;}

#catalog{
margin:0px auto;
width:1068px;
padding:10px;
}

#catalog img{
height:630px;
}

#catalog #menu2{
margin:0px auto;
width:200px;
}

#questionnaire{
margin:0px auto;
width:1000px;
padding:10px;
}

#questionnaire table{
font-weight:bold;
border:3px solid #E8E8E8;
border-radius: 10px;
height:790px;
padding:60px 40px;

}

#questionnaire table td{
padding:2px;
}

#questionnaire table input{
border:1px solid #A9A9A9;
border-radius: 3px;
width:300px;
}

#questionnaire h2{
font-weight:normal;
text-align: center;
width:1000px;
	margin-top:20px;
	font-size: 27px;
}

#questionnaire h3{
font-family:Times;
font-weight:normal;
font-style:italic;
	font-size: 25px;
	margin:10px 0px;
}
#questionnaire p{
font-family:Times;
	margin:5px 0px;
}
#questionnaire i{
font-family:Times;
font-weight:bold;
color:#ED008C;
}

#about h2{
font-weight:normal;
padding-top: 50px; 
font-family: 'Times New Roman', Times, serif; 
font-size: 28px;
font-style: italic; 
}

#about i{
color: #e3008d
}

#about sub{
font-size: 10px;
}


#divimgcatalog img {
	width: 400px;
	height: auto;
}

#divimgcatalog {
	width: 800px;
	height: 420px;
	position:relative;
	overflow:hidden;
	margin-bottom: 50px;
}

#divimgcatalog span {
	margin-top:-13px;
	width:38px;
	height:62px;
	display:block;
	position:absolute;
	top:50%;
	cursor:pointer;
	background: url(../../image/main/slider/arrow.png); no-repeat;
}
#divimgcatalog span.next {
	right:0;
}
#divimgcatalog span.prev {
	left:0;
	transform: scale(-1, 1);
}

#divimgcatalog span.next1 {
	right:0;
}
#divimgcatalog span.prev1 {
	left:0;
	transform: scale(-1, 1);
}